.left-contents
  .left-contents__user
    .left-contents__user__name
      = %sample
    .left-contents__user__bt1
      = %sample
        %i.fa.fa-cog
    .left-contents__user__bt2
      = %sample
        %i.fa.fa-pencil-square-o
  .left-contents__groups
    = %sample