!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpaceSample
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "LDVCle0T8uzzWPtm5XtWh5HEFZowi1Q918SuWfFoxAwATQwjOTumNSW5ZBoO3Eownu8YZem8b8j1gBpbW7eWwg==", :name => "csrf-token"}/
    %link{"data-turbolinks-track" => "reload", :href => "/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css", :media => "all", :rel => "stylesheet"}/
    %script{"data-turbolinks-track" => "reload", :src => "/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js"}
  %body
    .flash-box
      .notice ログインしました。
    .wrapper
.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name kido
      %ul.side-header__box__menu
      %li.side-header__box__menu__new-group
      %a{:href => "/groups/new"}
      %i.fa.fa-edit
      %li.side-header__box__menu__edit-user
      %a{:href => "/users/604/edit"}
      %i.fa.fa-cog
  .groups
    %a{:href => "/groups/1293/messages"}
      .group
        %p.group__group-name d
        %p.group__latest-message まだメッセージがありません
    %a{:href => "/groups/1453/messages"}
      .group
        %p.group__group-name 質問こたえます
        %p.group__latest-message a
    %a{:href => "/groups/1098/messages"}
      .group
        %p.group__group-name a
        %p.group__latest-message まだメッセージがありません