!!!
%html
  %head
    %meta{:conect => "text/html;charset=UTF-8","http-equiv" => "Content-Type"}/
    %title ChatSpace
    %meta{:content => "authenticity_token",:name => "csrf-param"}/
    %meta{:content => "LDVCle0T8uzzWPtm5XtWh5HEFZowi1Q918SuWfFoxAwATQwjOTumNSW5ZBoO3Eownu8YZem8b8j1gBpbW7eWwg==", :name => "csrf-token"}/
    %link{"data-turbolinks-track" => "reload", :href => "/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css", :media => "all", :rel => "stylesheet"}/
    %script{"data-turbolinks-track" => "reload", :src => "/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js"}
  %body
    .flash-box
      .notice ログインしました。
    .wrapper
      .chat-side
        .side-header
          .side-header__box
            %p.side-header__user-name Kido
            %ul.side-header__box__menu
              %li.side-header__box__menu__new-group
                %a{:href => "/groups/new"}
                  %i.fa.fa-edit
              %li.side-header__box__menu__edit-user
                %a{:href => "/users/sample/edit"}
                  %i.fa.fa-cog
      .groups
        %a{:href => "/groups/sample/messages"}
          .group
            %p.group__group-name %グループネーム
            %p.group__latest-messages %sample
          .group
            %p.group__group-name %グループネーム
            %p.group__latest-messages %sample
          .group
            %p.group__group-name %グループネーム
            %p.group__latest-messages %sample
